<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/index.css">
</head>
<body>
	<header class="header-global">
		<div class="header-global-wrapper">
			<div class="tool-bar">
				<nav class="tool-bar-wrapper">
					<a href="#" class="item l">关于我们</a>
					<a href="#" class="item l about">
						<i class="icon-angle-down popup-menu-btn"></i>
						<span class="popup-menu">
							创业者QQ群：192570491<br>
							投资人QQ群：246917203<br>
							客服QQ1：2275487914<br>
							客服QQ2：2044153261
						</span>
					</a>
					<a href="#" class="item l">客服邮箱：kf@yunchou.com</a>
					<div class="bar-wrapper-float">
						<a href="#" class="item r">融资指南</a>
						<a href="#" class="item r">投资指南</a>
						<a href="#" class="item r">岭创大赛</a>
						<a href="#" class="item r">提交项目</a>
						<a href="#" class="item r">登录</a>
						<a href="#" class="item r">注册</a>
					</div>
				</nav>
			</div>
			<nav class="nav-bar">
				<a href="/" class="logo"><img src="http://chouoo.3.gwidc.com/public/attachment/201603/04/18/56d95d4e69780.png" alt=""></a>
				<a href="#" class="nav-bar-item">首页</a>
				<a href="#" class="nav-bar-item">实体项目</a>
				<a href="#" class="nav-bar-item">文化产业</a>
				<a href="#" class="nav-bar-item">项目动态</a>
				<a href="#" class="nav-bar-item">投资人</a>
				<a href="#" class="nav-bar-item">路演快讯</a>
				<a id="submitProject" class="submit-project-btn"><i class="icon-edit"></i><span>发布项目</span></a>
			</nav>
		</div>
	</header>

	<main class="main-global">
		<div class="main-banner-area">
			<a class="banner" href=""><img src="http://chouoo.3.gwidc.com/public/attachment/201508/17/12/55d16265716d2.jpg" alt=""></a>
			<a class="banner" href=""><img src="http://chouoo.3.gwidc.com/public/attachment/201508/17/12/55d1625bba1be.JPG" alt=""></a>
			<a class="banner" href=""><img src="http://chouoo.3.gwidc.com/public/attachment/201508/17/12/55d16265716d2.jpg" alt=""></a>
		</div>
		<div class="main-web-info">
			<span class="overview"><i class="icon-user-md"></i><span class="sum-user">10,000,200.00</span>认筹金额</span>
			<span class="overview"><i class="icon-user-md"></i><span class="sum-money">0000</span>认筹金额</span>
			<span class="overview"><i class="icon-user-md"></i><span class="sum-success">0000</span>认筹金额</span>
			<span class="overview"><i class="icon-user-md"></i><span class="sum-online">0000</span>认筹金额</span>
		</div>
		<div class="main-show">
			<div class="main-show-news">
				<h2>新闻动态</h2>
				<a class="more" href="">更多动态</a>
				<ul class="show-news-details">
					<li>
						<h3 class="news-on-title">news title</h3>
						<p class="news-on-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias ducimus quas ad quae, est odio, temporibus.</p>
						<span class="news-on-time">2016-03-04</span>
					</li>
					<li>
						<h3 class="news-on-title">news title</h3>
						<p class="news-on-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias ducimus quas ad quae, est odio, temporibus.</p>
						<span class="news-on-time">2016-03-04</span>
					</li>
				</ul>
			</div>
			<div class="main-show-alerts">
				<h2>路演快讯</h2>
				<a class="more" href="">更多动态</a>
				<ul class="show-alerts-details">
					<li>
						<h3 class="show-alerts-title">alert-title</h3>
						<p class="show-alerts-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore quidem consectetur sint sapiente, voluptatem. Assumenda necessitatibus sed aut vel, sapiente libero, illum saepe numquam explicabo nam perferendis molestiae molestias totam.</p>
					</li>
					<li>
						<h3 class="show-alerts-title">alert-title</h3>
						<p class="show-alerts-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore quidem consectetur sint sapiente, voluptatem. Assumenda necessitatibus sed aut vel, sapiente libero, illum saepe numquam explicabo nam perferendis molestiae molestias totam.</p>
					</li>
					<li>
						<h3 class="show-alerts-title">alert-title</h3>
						<p class="show-alerts-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore quidem consectetur sint sapiente, voluptatem. Assumenda necessitatibus sed aut vel, sapiente libero, illum saepe numquam explicabo nam perferendis molestiae molestias totam.</p>
					</li>
				</ul>
			</div>
			<div class="financing-project">
				<h2>融资项目</h2>
				<a class="more" href="">更多项目</a>
				<div class="financing-project-content">
					<div class="project-content-img">
						<a href=""><img src="" alt=""></a>
					</div>
					<div class="financing-project-info">
						<h3>Lorem</h3>
						<span>筹资失败</span>
						<div class="project-info-cityinfo">
							<span>城市：<span>深圳市</span></span>
							<span>所属行业：<span>移动互联网</span></span>
						</div>
						<div class="financing-info">
							<span><span class="financing-info-amount">&yen;000000</span>已认投</span>
							<span><span class="financing-info-remain">已过期</span>剩余时间</span>
							<span><span class="financing-info-money">&nbsp;&nbsp;万</span>起投金额</span>
						</div>
						<div class="financing-select">
							<span class="financing-support"><span>000000</span>支持：</span>
							<span class="financing-about"><span>000000</span>关注：</span>
						</div>
					</div>
					<div class="financing-project-info">
						<h3>Lorem</h3>
						<span>筹资失败</span>
						<div class="project-info-cityinfo">
							<span>城市：<span>深圳市</span></span>
							<span>所属行业：<span>移动互联网</span></span>
						</div>
						<div class="financing-info">
							<span><span class="financing-info-amount">&yen;000000</span>已认投</span>
							<span><span class="financing-info-remain">已过期</span>剩余时间</span>
							<span><span class="financing-info-money">&nbsp;&nbsp;万</span>起投金额</span>
						</div>
						<div class="financing-select">
							<span class="financing-support"><span>000000</span>支持：</span>
							<span class="financing-about"><span>000000</span>关注：</span>
						</div>
					</div>
				</div>
			</div>
			<div class="project-comments-answers">
				<div class="project-comments-area">
					<h2>项目评论</h2>
					<div class="comments-area-info">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
						<a class="area-info-reviewer" href="">lorem</a><span>评论了项目：</span><a class="area-info-article" href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
						<i></i><span class="area-info-time">2016-02-27 11:24</span>
					</div>
					<div class="comments-area-info">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
						<a class="area-info-reviewer" href="">lorem</a><span>评论了项目：</span><a class="area-info-article" href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
						<i></i><span class="area-info-time">2016-02-27 11:24</span>
					</div>
				</div>
				<div class="project-answers-area">
					<h2>投资问答</h2>
					<div class="answers-area-info">
						<h3 class="area-info-title">lorem title</h3>
						<p class="area-info-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo maiores dicta velit molestiae, ab, provident beatae at quos quidem temporibus delectus esse, nisi perferendis. Necessitatibus, aspernatur porro dolorum optio corrupti.</p>
					</div>
					<div class="answers-area-info">
						<h3 class="area-info-title">lorem title</h3>
						<p class="area-info-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo maiores dicta velit molestiae, ab, provident beatae at quos quidem temporibus delectus esse, nisi perferendis. Necessitatibus, aspernatur porro dolorum optio corrupti.</p>
					</div>
				</div>
			</div>
			<div class="success-case">
				<div class="success-case-headline">
					<h2>成功案例</h2>
					<a class="more" href="">更多案例</a>
				</div>
				<div class="success-case-content">
					<div class="success-case-details">
						<a class="case-details-img" href=""><img src="" alt=""></a>
						<div class="case-details-area">
							<span class="details-area-city">北京市</span>
							<span class="details-area-type">舞台剧</span>
						</div>
						<div class="success-case-info">
							<span class="money"><span>214万</span>已融金额</span>
							<span class="finish"><span>100%</span>完成率</span>
							<span class="target"><span>214万</span>融资目标</span>
						</div>
					</div>
					<div class="success-case-details">
						<a class="case-details-img" href=""><img src="" alt=""></a>
						<div class="case-details-area">
							<span class="details-area-city">北京市</span>
							<span class="details-area-type">舞台剧</span>
						</div>
						<div class="success-case-info">
							<span class="money"><span>214万</span>已融金额</span>
							<span class="finish"><span>100%</span>完成率</span>
							<span class="target"><span>214万</span>融资目标</span>
						</div>
					</div>
					<div class="success-case-details">
						<a class="case-details-img" href=""><img src="" alt=""></a>
						<div class="case-details-area">
							<span class="details-area-city">北京市</span>
							<span class="details-area-type">舞台剧</span>
						</div>
						<div class="success-case-info">
							<span class="money"><span>214万</span>已融金额</span>
							<span class="finish"><span>100%</span>完成率</span>
							<span class="target"><span>214万</span>融资目标</span>
						</div>
					</div>
					<div class="success-case-details">
						<a class="case-details-img" href=""><img src="" alt=""></a>
						<div class="case-details-area">
							<span class="details-area-city">北京市</span>
							<span class="details-area-type">舞台剧</span>
						</div>
						<div class="success-case-info">
							<span class="money"><span>214万</span>已融金额</span>
							<span class="finish"><span>100%</span>完成率</span>
							<span class="target"><span>214万</span>融资目标</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer>
		
	</footer>
</body>
</html>
