<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/index.css">
</head>
<body>
	<header class="header-global">
		<div class="header-global-wrapper">
			<div class="tool-bar">
				<nav class="tool-bar-wrapper">
					<a href="#" class="item l">关于我们</a>
					<a href="#" class="item l about">
						<i class="icon-angle-down popup-menu-btn"></i>
						<span class="popup-menu">
							创业者QQ群：192570491<br>
							投资人QQ群：246917203<br>
							客服QQ1：2275487914<br>
							客服QQ2：2044153261
						</span>
					</a>
					<a href="#" class="item l">客服邮箱：kf@yunchou.com</a>
					<div class="bar-wrapper-float">
						<a href="#" class="item r">融资指南</a>
						<a href="#" class="item r">投资指南</a>
						<a href="#" class="item r">岭创大赛</a>
						<a href="#" class="item r">提交项目</a>
						<a href="#" class="item r">登录</a>
						<a href="#" class="item r">注册</a>
					</div>
				</nav>
			</div>
			<nav class="nav-bar">
				<a href="/" class="logo"><img src="http://chouoo.3.gwidc.com/public/attachment/201603/04/18/56d95d4e69780.png" alt=""></a>
				<a href="#" class="nav-bar-item">首页</a>
				<a href="#" class="nav-bar-item">实体项目</a>
				<a href="#" class="nav-bar-item">文化产业</a>
				<a href="#" class="nav-bar-item">项目动态</a>
				<a href="#" class="nav-bar-item">投资人</a>
				<a href="#" class="nav-bar-item">路演快讯</a>
				<a id="submitProject" class="submit-project-btn"><i class="icon-edit"></i><span>发布项目</span></a>
			</nav>
		</div>
	</header>

	<main>
		
	</main>
</body>
</html>
